#tab_import_gfcivicrm {
    fieldset {
        margin-block: 2em;
        border-bottom: 1px solid lightgray;
    }

    legend {
        > * {
            margin: 0;
        }
    }
}


#import_form_list,
#import_form_processors_list {
    li {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 1em;

        &:not(:last-child) {
            padding-bottom: 1em;
            border-bottom: 1px dotted lightgray
        }

        .align-right {
            text-align: right;
        }

        label {
            margin-right: 0.5em;
        }
    }
}

#gform_import_export_status_notice {
    .grid {
        .row {
            display: grid;
            grid-template-columns: 100px auto;
            padding: 0.2em;

            &:nth-of-type(2n) {
                background: rgb(39, 106, 82, 0.05);
            }
        }
    }
}

